.app-main-form {
  .ant-input-lg {
    font-size: 14px;
  }
  .ant-row {
    em {
      color: #1890ff;
      font-style: normal;
      cursor: pointer;
    }
  }
  .site-form-item-icon {
    svg {
      color: #b6b6b6;
    }
  }
}

.app-round-modal {
  .ant-modal-content {
    border-radius: 10px;
  }
}

.ant-tabs-top > .ant-tabs-nav,
.ant-tabs-bottom > .ant-tabs-nav,
.ant-tabs-top > div > .ant-tabs-nav,
.ant-tabs-bottom > div > .ant-tabs-nav {
  margin-bottom: 0;
}
